<a href="https://colab.research.google.com/github/sravanikagga/git-python-project/blob/main/startupsdata_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
data=pd.read_csv('startupsdata.csv')

In [3]:
data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [5]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
data.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [7]:
X=data.iloc[:,0:-1].values

In [8]:
X

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, 127716.82, 'California'],
       [130298.13, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'California'],
       [101913.08, 110594.11, 229160.95, 'Florida'],
       [100671.96, 91790.61, 249744.55, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [86419.7, 153514.11, 0.0, 'New York'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida'],
       [0.0, 135426.92, 0.0, 'California'],
       [542.05, 51743.15, 0.0, 'New York'],
       [0.0, 116983.8, 45173.06, 'California']], dtype=object)

In [9]:
Y=data.iloc[:,-1].values
Y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [10]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])], remainder='passthrough')
X=ct.fit_transform(X)

In [12]:
X

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
       [0.0, 0.0, 1.0, 86419.7, 153514.11, 0.0],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46],
       [1.0, 0.0, 0.0, 0.0, 135426.92, 0.0],
       [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0],
       [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06]], dtype=object)

In [13]:
!pip install StandardScaler

Collecting StandardScaler
  Downloading StandardScaler-0.5.tar.gz (2.4 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (1.1.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (0.22.2.post1)
Collecting scikit-elm
  Downloading scikit_elm-0.21a0-py3-none-any.whl (30 kB)
Requirement already satisfied: dask in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (2.12.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->StandardScaler) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->StandardScaler) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->StandardScaler) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from scikit-elm->StandardScaler) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->StandardScaler) (1.1.0)
Building wheels for collected packages: StandardScaler
  Building wheel for StandardScaler (setup.py) ... done
  Created wheel for StandardScaler: filename=StandardScaler-0.5-py3-none-any.whl size=2613 sha256=84b3e54d67ee82bc1b264714bdbc0f3e411dab8d09fd5fc4c93fa1ce60d52a08
  Stored in directory: /root/.cache/pip/wheels/96/4c/35/4b72d578909a5b4812388c124c58f04651bf2423981ab749b3
Successfully built StandardScaler
Installing collected packages: scikit-elm, StandardScaler
Successfully installed StandardScaler-0.5 scikit-elm-0.21a0

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X[:,0:3]=sc.fit_transform(X[:,0:3])
X

array([[-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        165349.2, 136897.8, 471784.1],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        162597.7, 151377.59, 443898.53],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        153441.51, 101145.55, 407934.54],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        144372.41, 118671.85, 383199.62],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        142107.34, 91391.77, 366168.42],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        131876.9, 99814.71, 362861.36],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        134615.46, 147198.87, 127716.82],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        130298.13, 145530.06, 323876.68],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        120542.52, 148718.95, 311613.29],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        123334.88, 108679.17, 304981.62],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        101913.08, 110594.11, 229160.95],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        100671.96, 91790.61, 249744.55],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        93863.75, 127320.38, 249839.44],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        91992.39, 135495.07, 252664.93],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        119943.24, 156547.42, 256512.92],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        114523.61, 122616.84, 261776.23],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        78013.11, 121597.55, 264346.06],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        94657.16, 145077.58, 282574.31],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        91749.16, 114175.79, 294919.57],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        86419.7, 153514.11, 0.0],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        76253.86, 113867.3, 298664.47],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        78389.47, 153773.43, 299737.29],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        73994.56, 122782.75, 303319.26],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        67532.53, 105751.03, 304768.73],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        77044.01, 99281.34, 140574.81],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        64664.71, 139553.16, 137962.62],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        75328.87, 144135.98, 134050.07],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        72107.6, 127864.55, 353183.81],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        66051.52, 182645.56, 118148.2],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        65605.48, 153032.06, 107138.38],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        61994.48, 115641.28, 91131.24],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        61136.38, 152701.92, 88218.23],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        63408.86, 129219.61, 46085.25],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        55493.95, 103057.49, 214634.81],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        46426.07, 157693.92, 210797.67],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        46014.02, 85047.44, 205517.64],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        28663.76, 127056.21, 201126.82],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        44069.95, 51283.14, 197029.42],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        20229.59, 65947.93, 185265.1],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        38558.51, 82982.09, 174999.3],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        28754.33, 118546.05, 172795.67],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        27892.92, 84710.77, 164470.71],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        23640.93, 96189.63, 148001.11],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        15505.73, 127382.3, 35534.17],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        22177.74, 154806.14, 28334.72],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        1000.23, 124153.04, 1903.93],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        1315.46, 115816.21, 297114.46],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        0.0, 135426.92, 0.0],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        542.05, 51743.15, 0.0],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        0.0, 116983.8, 45173.06]], dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [16]:
X_train

array([[-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        72107.6, 127864.55, 353183.81],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        15505.73, 127382.3, 35534.17],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        114523.61, 122616.84, 261776.23],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        38558.51, 82982.09, 174999.3],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        28754.33, 118546.05, 172795.67],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        55493.95, 103057.49, 214634.81],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        542.05, 51743.15, 0.0],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        119943.24, 156547.42, 256512.92],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        66051.52, 182645.56, 118148.2],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        123334.88, 108679.17, 304981.62],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        73994.56, 122782.75, 303319.26],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        61994.48, 115641.28, 91131.24],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        44069.95, 51283.14, 197029.42],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        120542.52, 148718.95, 311613.29],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        142107.34, 91391.77, 366168.42],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        131876.9, 99814.71, 362861.36],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        23640.93, 96189.63, 148001.11],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        0.0, 116983.8, 45173.06],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        77044.01, 99281.34, 140574.81],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        86419.7, 153514.11, 0.0],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        162597.7, 151377.59, 443898.53],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        101913.08, 110594.11, 229160.95],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        65605.48, 153032.06, 107138.38],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        63408.86, 129219.61, 46085.25],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        78013.11, 121597.55, 264346.06],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        91992.39, 135495.07, 252664.93],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        93863.75, 127320.38, 249839.44],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        22177.74, 154806.14, 28334.72],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        94657.16, 145077.58, 282574.31],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        28663.76, 127056.21, 201126.82],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        67532.53, 105751.03, 304768.73],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        61136.38, 152701.92, 88218.23],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        76253.86, 113867.3, 298664.47],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        130298.13, 145530.06, 323876.68],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        46014.02, 85047.44, 205517.64],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        20229.59, 65947.93, 185265.1],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        1315.46, 115816.21, 297114.46],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        1000.23, 124153.04, 1903.93],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        78389.47, 153773.43, 299737.29],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        153441.51, 101145.55, 407934.54]], dtype=object)

In [17]:
X_test

array([[-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        75328.87, 144135.98, 134050.07],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        64664.71, 139553.16, 137962.62],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        46426.07, 157693.92, 210797.67],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        134615.46, 147198.87, 127716.82],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        0.0, 135426.92, 0.0],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        144372.41, 118671.85, 383199.62],
       [-0.7177405625652736, -0.6859943405700356, 1.3932610920384718,
        165349.2, 136897.8, 471784.1],
       [1.3932610920384723, -0.6859943405700356, -0.7177405625652735,
        100671.96, 91790.61, 249744.55],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        91749.16, 114175.79, 294919.57],
       [-0.7177405625652736, 1.4577379737113254, -0.7177405625652735,
        27892.92, 84710.77, 164470.71]], dtype=object)

In [18]:
Y_train

array([105008.31,  69758.98, 129917.04,  81005.76,  78239.91,  96778.92,
        35673.41, 132602.65, 103282.38, 149759.96, 110352.25,  99937.59,
        89949.14, 152211.77, 166187.94, 156991.12,  71498.49,  14681.4 ,
       108552.04, 122776.86, 191792.06, 146121.95, 101004.64,  97427.84,
       126992.93, 134307.35, 141585.52,  65200.33, 125370.37,  90708.19,
       108733.99,  97483.56, 118474.03, 155752.6 ,  96479.51,  81229.06,
        49490.75,  64926.08, 111313.02, 191050.39])

In [19]:
Y_test

array([105733.54, 107404.34,  96712.8 , 156122.51,  42559.73, 182901.99,
       192261.83, 144259.4 , 124266.9 ,  77798.83])